.search-bar-wrap {
    position: relative;
}

.location {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: var(--manrope-font);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 5px 8px;
    border-radius: 4px;
    position: relative;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    width: 100%;
    max-width: 100px;
}

.location-img {
    margin-right: 5px;
}

.user-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
    margin: 0 5px;
}

.sign-in {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 5px;
    margin-left: 5px;
    color: var(--secondary-color);
}

.hstack .search-bar-input {
    background-image: url("../src/assets/images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 98% center;
    font-size: var(--base-font-size);
    font-weight: 400;
    padding: 6px 30px 6px 18px;
    min-height: 48px;
    width: 100%;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #DC8064, #E98C70, #FB9E82, #FDBB9F, #FFCAAE, #F8AD92, #F19176);
    border-image-slice: 1;
}

.search-bar {
    position: absolute;
    right: 10px;
    top: 10px;
}

#icons {
    text-align: right;
}

@media (min-width: 768px) {
    #icons {
        display: ruby-text !important;
    }
}