@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
  --manrope-font: 'Manrope', sans-serif;
}

body {
  font-family: 'Manrope', sans-serif;
}

/* React Root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/**************** Custom Code *****************/
