@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
  --manrope-font: 'Manrope', sans-serif;
}

body {
  font-family: 'Manrope', sans-serif;
}

/* React Root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/**************** Custom Code *****************/

#topStrip {
  background-image: url("../src/assets/images/topstrip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#topStripInner .offer {
  font-family: var(--manrope-font);
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
}
#topStripInner {
  position: relative;
}
#topStripInner .cut {
  position: absolute;
  top: 0;
  right: 0;
}