 #root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}


/**************** Custom Code *****************/
#topStrip {
  background-image: url("../src/assets/images/topstrip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}